    body
    {
        background-image: url("https://i.stack.imgur.com/LCCB6.jpg");
        background-repeat:round;
        margin: 25px;
        
    }

    h1{
        text-transform: uppercase;
        font-family:fantasy;
        color:rgb(146, 59, 18);
    }


    h1 strong{
        position: relative;
        top:-20px;
    }

    h2
    {
        font-weight: bold;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(15, 15, 15);
        font-size: xx-large;
    }
    
    .phones table
    {
        border-spacing: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .phones th
    {
        border: 5px double black;
        
    }

    .phones td
    {
        border: 3px;
        border-style:ridge;
        border-color: darkolivegreen;
        font-weight: bold;
        font-size: medium;
        font-variant: normal;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(15, 15, 15);
        
        
    }

    .phones li
    {
        list-style-image: url("https://img.icons8.com/wired/64/000000/price-tag-euro.png");
        list-style-position: outside;
    }

    tr.bulletBorder th
    {
        border: 0;
    }

    th.bulletBorder
    {
        border:0;
    }

    tr.noBorder th 
    {
        border: 0;
    }

    tr.noBorder td 
    {
        border: 0;
    }

    tr.noBorder li 
    {
        list-style-image: none;
    }

    figure.float-right{
        float:right;
        margin:20px 20px 30px 0px;
        text-align:center;
    }

    figure.float-left{
        float:left;
        margin:20px 30px 30px 0px;
        text-align:center;
    }

    figure > img {
        border-radius: 50px;
    }


    figcaption{
        position:relative;
    }

    section {
        float:none;
    }
     
    section p{
        clear:both;
        float:none;
        text-indent:3em;
        font-weight: bold;
        font-size: medium;
        font-variant: normal;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(15, 15, 15);
    }

    hr.line-style{ 

        height: 5px;
        background: hsl(0, 0%, 60%);
    } 

    #xiaomi img {
        border-radius: 0px;
    }

    li
    {
        font-weight: bold;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        color:rgb(15, 15, 15);

    }

    a:link 
    {
        color: rgb(38, 3, 233);
        text-decoration: none;
    }
    a:hover
    {
        background-color: lightblue;
        text-decoration: underline;
    }
    a:visited
    {
        color:rgb(54, 3, 54);
    }
    nav > a:visited
    {
        color: rgb(38, 3, 233);
    }

    a:active
    {
        color: black;
    }

    input:focus 
    {
        background: yellow;
    }

    input[type=submit]:hover
    {
        background: lightblue;
    }

    caption
    {
        caption-side: top;
    }

    .nav1
    {
        text-align: left;
        border-spacing: 10px;
    }

    .nav1 > a
    {
        text-decoration: underline;
    }

    td 
    {
        text-align: center; 
        vertical-align: middle;
    }

    section img 
    {
        border-radius: 10px;
    }
    
    footer table
    {
        margin-left: auto;
        margin-right: auto;
    }

    #ReturnPolicy h2
    {
        
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
    }

    #ReturnPolicy li
    {
        list-style: square inside;
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        
    }

    #ReturnPolicy p
    {
        color:black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
    }

    @media print 
    {
        section 
        {
            page-break-before: always;
            page-break-after: avoid;
            font-size: 20px;
            widows: 3;
            orphans: 3;
        }

        .nav1
        {
            display: none;
        }

        footer
        {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 320px), screen and (max-height: 480px)
    {
        body {
            font-size:100px;
        }
    }
